@model H8QMedia.Web.ViewModels.Art.ArtIndexViewModel
@{
    ViewBag.Title = "Art";
}

<h2 class="text-center">My Arts</h2>

<div class="container">

    @Html.Partial("../Article/_ArticlePagedPartial", Model)

</div>
