@model H8QMedia.Web.ViewModels.Article.ArticleViewModel

<div class="panel panel-default">
    <div class="panel-heading">@Model.Title</div>
    <div class="panel-body">
        @Model.Description
    </div>
    <div class="panel-footer text-left">
        <span>@Model.AuthorName</span>
    </div>
</div>

