@{
        ViewBag.Title = "About";
    }

<div class="container text-center">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron text-center">
                <h2>
                    About H&Я Media 
                </h2>
                <h3>
                    H&Я Media is a project of few artists, who wants to present their activity and long years of work in art and educational spheres. This site is constructed with the idea of showing and announce the main directions in their creative ways, and to introduce you the fun side of art. You will find many articles in different visual art techniques, which you can buy or just enjoy. For those, who want to become a part of the big family of H&Я Media School, there is a lot of opportunities to join in our different art classes. And for the parents, who wants to have fun and create with their little kids, there is video and print ideas for art and craft activities.
                    ENJOY with us smile emoticon
                    H&Я Media Team

                </h3>
            </div>
        </div>
    </div>
</div>

