@using H8QMedia.Common
@using H8QMedia.Web.ViewModels.Article
@model H8QMedia.Web.ViewModels.Art.ArtIndexViewModel
@{
    ViewBag.Title = "Art";
}

<h2 class="text-center">Last Arts</h2>

<div class="container">

    @if (Request.IsAuthenticated && User.IsInRole(ApplicationRoles.Admin))
    {
        <div calss="row text-center">
            <div class="col-md-12">
                <a href="/Users/Art/Create" class="btn btn-md btn-primary full-width">Create new Art</a>
            </div>
        </div>
    }

    @Html.Partial("../Article/_ArticlePagedPartial", Model)

</div>


@(Html.Kendo().Grid<ArticleViewModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.Id);
            columns.Bound(p => p.Title).Width(120);
            columns.Bound(p => p.AuthorName).Width(120);
            columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
        })
        .ToolBar(toolbar => toolbar.Create())
        .Editable(editable => editable.Mode(GridEditMode.PopUp))
        .Pageable()
        .Sortable()
        .Scrollable()
        .HtmlAttributes(new { style = "height:550px;" })
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .Model(model => model.Id(p => p.Id))
            .Create(update => update.Action("Create", "Art"))
            .Read(read => read.Action("Read", "Art"))
            .Update(update => update.Action("Update", "Art"))
            .Destroy(update => update.Action("Destroy", "Art"))
        )
    )