@using H8QMedia.Common
@model H8QMedia.Web.ViewModels.Shop.ShopIndexViewModel
@{
    ViewBag.Title = "Items for sale";
}

<h2 class="text-center">My Items for sale</h2>

<div class="container">
    
    @if (Request.IsAuthenticated && User.IsInRole(ApplicationRoles.Admin))
    {
        <div calss="row text-center">
            <div class="col-md-12">
                <a href="/Users/SellingItems/Create" class="btn btn-md btn-primary full-width">Add new item for sale</a>
            </div>
        </div>
    }

    @Html.Partial("../Shop/_SellingItemsPagedPartial", Model)

</div>
