@using H8QMedia.Common
@model H8QMedia.Web.ViewModels.Art.ArtIndexViewModel

<hr />

@Html.Partial("_PaginationPartial", Model.PaginationModel)

<div class="row">
    @foreach (var art in Model.ArtArticles)
    {
        <div class="col-md-6">
            @Html.DisplayFor(model => art, DisplayTemplatesPaths.ArticleViewModel)
        </div>
    }
</div>

@Html.Partial("_PaginationPartial", Model.PaginationModel)
